<div class="shopping-cart-container">
  <table class="table">
    <thead class="table-light">
      <th>No.</th>
      <th>Item Name</th>
      <th>Image thumbnail</th>
      <th>Item resolution</th>
      <th>Price</th>
      <th>Modify</th>
    </thead>
    <tbody>
      {{#each this.checkoutItems as |order index|}}
        <tr>
          <td>{{inc index}}</td>
          <td>{{order.item.author}}</td>
          <td><img
              src={{order.item.download_url}}
              alt={{order.item.author}}
              class="thumbnail_small"
            /></td>
          <td>{{order.resolutionList}}</td>
          <td>${{order.price}}</td>
          <td><button
              type="button"
              class="btn btn-warning"
              {{on "click" (fn this.remove index)}}
            >Remove</button></td>
        </tr>
      {{/each}}
      <tr>
        <th>Total</th>
        <th></th>
        <th></th>
        <th></th>
        <th>${{this.totalPrice}} CAD</th>
        <th></th>
      </tr>
    </tbody>
  </table>
  <button
    type="button"
    class="btn btn-success{{if (gt this.checkoutItems.length 0) "" " disabled"}}"
    {{on "click" (fn this.checkout this.checkoutItems)}}
  >Check out</button>
</div>
