<AppMain>
  <h1>Online Photo Shops</h1>
  <h2>Welcome to the OnlinePhotoShops!</h2>
  <div class='list-container'>
    <section >Page {{this.pageNumber}} of {{this.totalPages}}</section>
    <PhotoList @itemList={{this.photoList}}/>
    <nav class='list-pagination' aria-label='Page navigation'>
      <ul class='pagination justify-content-center'>
        <li class="page-item {{if (eq this.pageNumber 1) "disabled"}}">
          <button type="button" class='page-link' {{on 'click' (fn this.paginate 'previous')}}>Previous</button>
        </li>

        {{#each (range 1 (inc this.totalPages)) as |number|}}
          <li class='page-item'><button type="button" class='page-link' {{on 'click' (fn this.paginate number)}}>{{number}}</button></li>
        {{/each}}

        <li class="page-item {{if (eq this.pageNumber this.totalPages) "disabled"}}">
          <button type="button" class='page-link' {{on 'click' (fn this.paginate 'next')}}>Next</button>
        </li>'
      </ul>
    </nav>
  </div>
</AppMain>